<app-header></app-header>

<div class="flex h-screen">
    <app-side-bar-user></app-side-bar-user>
    <div class="flex-1 p-6 bg-gray-50 overflow-auto">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">Movies</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
            <app-moviecard *ngFor="let movie of movies" [movie]="movie"></app-moviecard>
        </div>
        <div *ngIf="movies?.length === 0" class="text-center text-red-500 mt-8 text-lg">
            No movies found. Try a different search.
        </div>
        <div class="mt-8 flex justify-center">
            <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </div>
</div>