<div class="bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition-shadow flex flex-col">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-2xl transition-shadow h-full flex flex-col">
        <div class="w-full h-64 flex justify-center items-center bg-gray-100" [routerLink]="'/movie/'+movie.id">
            <img [src]="movie.poster" alt="{{ movie.title }}" class="h-full w-full object-fill"
                (error)="movie.poster='https://via.placeholder.com/300x450?text=Image+Not+Available'">
        </div>
        <div class="p-4 flex-1 flex flex-col justify-between">
            <div>
                <h6 class="text-lg font-semibold mb-2">{{ movie.title }}</h6>
                <p class="text-gray-500 mb-1">Genre: {{ movie.genre }}</p>
                <p class="text-gray-500 mb-1">Year: {{ movie.year }}</p>
                <p class="text-gray-500 mb-1">Director: {{ movie.director }}</p>
            </div>
            <div class="flex justify-between items-center mt-4">
                <button mat-raised-button color="primary" (click)="viewDetails()">
                    View Details
                </button>
            </div>
        </div>
    </div>
</div>